    {# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pager">
	{% if first is defined and current != first %}
        <span class="first">
            <a href="{{ path(route, query|merge({'page': first})) }}">&laquo;</a>
        </span>
    {% endif %}

    {% if previous is defined %}
        <span class="previous">
            <a href="{{ path(route, query|merge({'page': previous})) }}">&lsaquo;</a>
        </span>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <span class="page">
            	<a href="{{ path(route, query|merge({'page': page})) }}">{{ page }}</a>
            </span>
        {% else %}
            <span class="current"><a href="{{ path(route, query|merge({'page': page})) }}">{{ page }}</a></span>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <span class="next">
        	<a href="{{ path(route, query|merge({'page': next})) }}">&rsaquo;</a>
        </span>
    {% endif %}

    {% if last is defined and current != last %}
        <span class="last">
            <a href="{{ path(route, query|merge({'page': last})) }}">&raquo;</a>
        </span>
    {% endif %}
</div>
{% endif %}
